extends layout.pug
block content
    div
    div(class="container") Projects
        div(class="side-bar")
        div(class="main-display")
            form(class='project-form')
                input(type="hidden" name='_csrf' value=csrfToken)
                br
                label(for='name') Project Name:
                input(type="text" name='name' class="home-input" id="add-project-name" placeholder="Add a project" )
                br
                label(for='content') Content:
                textarea(name="content" id='add-project-content' cols="30", rows="10")
                br
                label(for='dueDate') Due Date:
                input(name='dueDate' type='date' id='add-project-date')
                br
                button(type="submit" class="home-btn" id="add-project-btn") add project
            div(id="incomplete-projects-list")
    div(id="single-project") Project Name Placeholder
    script(src="/javascripts/projectsList.js")
    script(src="/javascripts/add-project.js")
    script(src="/javascripts/project-display.js")
