doctype html
html
  head
      block head
        title="Codegenda"
        link(rel='stylesheet' href='/stylesheets/index.css')
  body
      nav(class="nav-bar")
        a(class="brand nav-link" href="/") CodeGenda
        if locals.authenticated
          div(class='rightBtn') Welcome #{user.firstName}!
            form(class='' action='/users/logout' method='post')
              button(class='logout-btn' href='/' type='submit') Logout
        else
          div(class='rightBtn')
            a(class='nav-link' href='/users/login') Login
            a(class='nav-link' href='/users/signup') Sign Up!
            form(action='/users/' method='post')
              button.navBarLoginBtn Demo User
      div.wrapper
        div.sideBar 
        div.mainContent 
          block content
        div.sideBar
      block footer
        div.footer-container
          div.footer-element
            p.creator Israel Romero
            a.github-link(href="https://github.com/snakedreamz")
              img(src="/github-icon.png", alt="github" class="github-img") 
          div.footer-element
            p.creator Rob Strasser
            a.github-link(href="https://github.com/robstrass") 
              img(src="/github-icon.png", alt="github" class="github-img")
          div.footer-element
            p.creator Jake Payne 
            a.github-link(href="https://github.com/Payneless")
              img(src="/github-icon.png", alt="github" class="github-img")
          div.footer-element
            p.creator Jose Cantu
            a.github-link(href="https://github.com/Vour123")
              img(src="/github-icon.png", alt="github" class="github-img")
          


       
