doctype html
html
  head
      block head
        title="Codegenda"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav(class="nav-bar")
      a(class="brand" href="/") CodeGenda
      button(class='' type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
        span(class='')
      div(class='' id='navbarText')
        ul(class='')
        if locals.authenticated
          span(class='') Welcome #{user.firstName}!
          form(class='' action='/users/logout' method='post')
            button(class='' type='submit') Logout
        else
          span(class='')
            a(class='' href='/users/login') Login
            a(class='' href='/users/register') Register
            a(class="button" id="demoButton" href="/users/home") Demo User

    block content
