doctype html
html
  head
      block head
        title="Codegenda"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav(class="nav-bar")
      a(class="brand" href="/") CodeGenda
        span(class='')
      div(class='' id='navbarText')
        ul(class='')
        if locals.authenticated
          span(class='') Welcome #{user.firstName}!
          form(class='' action='/users/logout' method='post')
            button(class='' href='/' type='submit') Logout
        else
          span(class='')
            a(class='' href='/users/login') Login
            a(class='' href='/users/signup') Sign Up!
            form(action='/users/' method='post')
              button Demo User
      block content
