extends layout.pug
block content
    div(class="log-in-container")
        div(class="errors-container")
        ul
            each error in errors
                li=error
        h2 Log in
        form(class="log-in-form" action='/users/login' method="POST")
            input(type="hidden" name='_csrf' value=csrfToken)
            br
            label(for='username')
            input(type='text' name='username' placeholder="Username" class="sign-up-input")
            br
            label(for='password')
            input(type='password', name="password", placeholder='Password' class="sign-up-input")
            br
            button.loginbtn(type='submit') Login
            a(href='/users/signup') Don't have an account? Sign up here!
