extends layout.pug

block content
  div(class="sign-up-container")
    div(class="errors-container")
      ul
        each error in errors
          li= error
    h2 Sign Up
    form(class="sign-up-form" action='/users/signup' method="POST")
      input(type="hidden" name='_csrf' value=csrfToken)
      br
      label(for='username') Username
      input(type='text' name='username' placeholder="Username")
      br
      label(for='email') Email address
      input(type='email', name="email", placeholder='Enter email')
      br
      label(for='password') Password
      input(type='password', name="password", placeholder='Password')
      br
      label(for='confirmPassword') Confirm Password:
      input(type='password' name='confirmPassword' placeholder='Retype The Password')
      br
      button.btn.btn-primary(type='submit') Sign Up
    a(href='/users/login') Already have an account? Log in here.
