extends layout.pug

block content
    div.home-container
        h1 The smart to-do app for busy people.
    button.sign-up-home Sign up Free
    img(src="don't-forget.png", alt="codeGendaHome", class="home-img")
