extends layout.pug

block content
    div.home-container
        h1 The best to-do app for programmers!
    button(class="sign-up-home")
        a(href="users/signup") Sign up Free
    img(src="don't-forget.png", alt="codeGendaHome", class="home-img")
    div.description-home-container
        h3 Get to-dos out of your head.
        p Stop stressing about your projects with our simple to-do app!