@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "MuseoModerno", cursive;
  margin: 0px;
  background-color: #0060bf;
  color: white;
}

div > h1 {
  padding-top: 3%;
  color: white;
  font-size: 45px;
}

.nav-bar {
  padding: 20px;

  background-color: #0060bf;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  border-bottom: rgba(179, 179, 179, 0.2);
  border-style: solid;
  border-width: 0.5px;
}

.rightBtn {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: space-around;
  color: white;
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 100%;
}

.brand.nav-link {
  display: flex;
  align-items: space-around;
  font-size: 25px;
}
.mainContent {
  display: flex;
  flex-direction: column;
  width: 64%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.navBarLoginBtn {
  outline: none;
  padding: 4px 11px;
  margin-left: 21px;
  border: 1px solid;
  margin-top: -1px;
  padding: 4px 11px;
  font-weight: 200;
  font-size: 15px;
  color: ghostwhite;
  border-radius: 5px;
  background-color: transparent;
}

/* home page */

.home-img {
  height: 30rem;
}

.sign-up-home {
  padding: 11px 32px 12px;
  line-height: 1.2;
  background-color: #d24b03;
  color: white;
  font-size: 23px;
  border-radius: 4px;
  height: 50px;
  width: 200px;
  border-color: transparent;
  text-align: center;
}

.sign-up-home > a {
  text-decoration: none;
  color: white;
}

.description-home-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.description-home-container > h3 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0px;
}

.description-home-container > p {
  margin-top: 5px;
  color: white;
  margin-bottom: 5rem;
}

.logout-btn {
  outline: none;
  padding: 4px 11px;
  margin-left: 21px;
  border: 1px solid;
  margin-top: -1px;
  padding: 4px 11px;
  font-weight: 200;
  font-size: 15px;
  color: ghostwhite;
  border-radius: 5px;
  background-color: transparent;
}

/* sign up page */
.sign-up-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 20px;
}

.sign-up-container > h2 {
  font-weight: 200;
  padding-top: 0px;
}
.sign-up-input {
  margin: 0.3rem;
  margin-bottom: 1rem;
  height: 2rem;
  width: 18rem;
  font-size: 20px;
  border-color: rgba(179, 179, 179, 0.3);
  padding: 7px;
  border-radius: 5px;
}

.sign-up-btn {
  margin: 0.3rem;
  margin-bottom: 1rem;
  display: flex;
  color: #fff;
  background-color: #009dff;
  border-color: transparent;
  padding: 1px 6px;
  border-radius: 4px;
  height: 2rem;
  width: 18rem;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.sign-up-container > a {
  color: black;
  margin-top: 10px;
}

/* login page */

.log-in-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 20px;
}

.log-in-container > h2 {
  margin-top: 0px;
  padding-top: 0px;
  font-weight: 200;
}

.loginbtn {
  margin: 0.3rem;
  margin-bottom: 1rem;
  display: flex;
  color: #fff;
  background-color: #009dff;
  border-color: transparent;
  padding: 1px 6px;
  border-radius: 4px;
  height: 2rem;
  width: 18rem;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.log-in-form > a {
  display: flex;
  color: black;
  margin-top: 20px;
  justify-content: center;
}
